In [1]:
import numpy as np
import pandas as pd

from geopy.geocoders import Nominatim, GoogleV3
from geopy.extra.rate_limiter import RateLimiter

In [2]:
geolocator = Nominatim(user_agent='ejam')

In [5]:
locationfile = '../results/uqlocations_iceland.tsv'
data = pd.read_table(locationfile, header=None)
data.columns = ['index', 'country', 'location', 'count', 'lat', 'lon']

In [6]:
print('Cost: $', data.shape[0]*0.005)
print('Time: ', data.shape[0]/50, 's')

Cost: $ 0.05
Time:  0.2 s

In [7]:
latitudes = np.zeros(len(data))
longitude = np.zeros(len(data))
data.head()

   index  country              location  count  lat  lon
0      0  Iceland    Reykjavik, Iceland    120    1    1
1      1  Iceland     Akureyri, Iceland     14    1    1
2      2  Iceland  Skagastrond, Iceland      4    1    1
3      3  Iceland    Borgarnes, Iceland      2    1    1
4      4  Iceland        Asbru, Iceland      2    1    1

In [38]:
nonelocations = []
idx = 0
current = ''
for idx in range(1753, len(latitudes)):
    country = data.country[idx]
    if country != current:
        print(country)
        current = country
    loc = data.location[idx]
    location = geolocator.geocode(loc, timeout=60, exactly_one=True)
    if location is not None:
        latitudes[idx] = location.latitude
        longitude[idx] = location.longitude
    else:
        nonelocations.append(list(data.iloc[idx].values))

Brazil
Brunei
Bulgaria
Burkina Faso
Burundi
Cambodia
Cameroon
Canada
Cape Verde
Cayman Islands
Cent Afr Republ
Chad
Chile
Colombia
Comoros
Cook Islands
Costa Rica
Cote Ivoire
Croatia
Cuba
Cyprus
Czech Republic
DEM REP CONGO
Denmark
Djibouti
Dominican Rep
Dominica
Ecuador
Egypt
El Salvador
England
Equat Guinea
Eritrea
Estonia
Eswatini
Ethiopia
Falkland Island
Fiji
Finland
France
French Guiana
Gabon
Gambia
Georgia
Germany
Ghana
Gibraltar
Greece
Greenland
Grenada
Guatemala
Guinea Bissau
Guinea
Guyana
Haiti
Honduras
Hungary
Iceland
India
Indonesia
Iran
Iraq
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Kosovo
Kuwait
Kyrgyzstan
Laos
Latvia
Lebanon
Lesotho
Liberia
Libya
Lithuania
Luxembourg
Macedonia
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Mauritania
Mauritius
Mexico
Micronesia
Moldova
Monaco
Mongolia
Montenegro
Morocco
Mozambique
Myanmar
Namibia
Nepal
Neth Antilles
Netherlands
New Caledonia
New Zealand
Nicaragua
Nigeria
Niger
North Ireland
North Korea
North Macedonia
Norway
Oman
Pakistan
Palau
Palestine
Panama
Papua N Guinea
Paraguay
Peoples R China
Peru
Philippines
Poland
Portugal
Qatar
Rep Congo
Romania
Russia
Rwanda
Samoa
Saudi Arabia
Scotland
Senegal
Serbia Monteneg
Serbia
Seychelles
Sierra Leone
Singapore
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South Korea
South Sudan
Spain
Sri Lanka
St Kitts & Nevi
St Vincent
Sudan
Suriname
Swaziland
Sweden
Switzerland
Syria
Taiwan
Tajikistan
Tanzania
Thailand
Timor-Leste
Togo
Tonga
Trinidad Tobago
Tunisia
Turkey
Turkmenistan
Tuvalu
U Arab Emirates
Uganda
Ukraine
Uruguay
USA
Uzbekistan
Vanuatu
Venezuela
Vietnam
Wales
Yemen
Yugoslavia
Zambia
Zimbabwe

In [8]:
idx = 0
loc = data.location[idx]
print(loc)
location = geolocator.geocode(loc, timeout=60, exactly_one=True)

Reykjavik, Iceland

In [10]:
location.latitude

64.146582

In [40]:
nonelocations

[[550, -433, 'Brazil', 'Sub Solo, Brazil', 1],
 [673, -310, 'Brazil', 'Vegetal, Brazil', 1],
 [771, -212, 'Brazil', 'Cidade Univ Zeferino Vaz, Brazil', 1],
 [79, -28, 'Chile', 'Ignacio Serrano, Chile', 1],
 [42, -37, 'Czech Republic', 'Rozvojova, Czech Republic', 2],
 [167, -267, 'England', 'Whiteknights, England', 3],
 [202, -232, 'England', 'Kcw, England', 2],
 [316, -118, 'England', 'Presque Isle, England', 1],
 [361, -73, 'England', 'Harrow, Middx, England', 1],
 [428, -6, 'England', 'Queen Mary, England', 1],
 [1002, -339, 'India', 'Mangalagangothri, DK, India', 1],
 [75, -71, 'Indonesia', 'Sagar, Indonesia', 1],
 [551, -516, 'Japan', 'Mozume, Mukoh, Japan', 2],
 [4, -12, 'Jordan', 'Baqa, Jordan', 15],
 [17, -2, 'Lebanon', 'Hadai, Lebanon', 1],
 [34, -4, 'Morocco', 'Hassan, Morocco', 1],
 [10, -1, 'Palestine', 'Canaan, Palestine', 1],
 [42, -77, 'Turkey', 'Kurupelit, Turkey', 38],
 [97, -22, 'Turkey', 'Teknikokullar, Turkey', 2],
 [106, -13, 'Turkey', 'Tubitak, Mam, Turkey', 1],
 [1306, -942, 'USA', 'Dpo, AA, USA', 2]]

In [48]:
data['latitude'] = latitudes
data['longitude'] = longitude

In [49]:
data.to_csv('../results/geopy_results.csv', index=False)

# data cleaning

In [7]:
src = '../results/'
dst = src
countryname = 'argentina'
filename = src + 'uqlocations_' + countryname + '.tsv'
df = pd.read_table(filename, header=None)
print(df.shape)

(260, 6)

In [9]:
df.drop(index = df[df[4]==0].index, inplace=True)
print(df.shape)

(259, 6)

In [12]:
df.iloc[0, 3] += 1

In [20]:
df[0] = range(len(df))
df.to_csv(filename, sep='\t', header=False, index=False)